

body{margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

video{
    width: 100vw;
    position: absolute;
}

.wrapper {
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.flex-form {
    display: flex;
    border: 20px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    display: flex;
}

.flex-form>*{
    background-color: white;
    border: none;
    font-size: 20px;
    border-radius: 0;
    line-height: 50px;
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px;
}


input[type="search"] {
    flex-basis: 500px;
}

label {
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(255, 51, 51);
    color: white;
}
/*
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}



input[type="date"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}